In [3]:
import pandas as pd
from sklearn.cluster import KMeans

In [11]:
df = pd.read_pickle("./df.pkl")
df = df.dropna()
df.head()

              VOLUME       OPEN       HIGH        LOW      CLOSE    Return
DATE
1993-02-01  480500.0  43.968944  44.249887  43.968655  44.250101  0.711487
1993-02-02  201300.0  44.218879  44.374910  44.124961  44.343823  0.211800
1993-02-03  529400.0  44.406412  44.843856  44.375026  44.343823  0.000000
1993-02-04  531500.0  44.968638  45.093704  44.874975  44.999975  1.479691
1993-02-05  492100.0  44.968727  45.062578  44.718757  44.968792 -0.069295

In [12]:
kmeans = KMeans(n_clusters=2, random_state=0).fit(df)